.otp-wrapper {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.otp-header {
    text-align: center;
    font-weight: bold;
}

.otp-header h1 {
    color: #000;
}

.otp-content {
    display: flex;
    justify-content: center;
}

.otp-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-footer button {
    width: 50%;
}