.cab-form .ant-select-selector {
    height: 32px !important;
  }

  .cab-form .ant-select-selection-placeholder,
  .cab-form .ant-select-selection-item,
  .cab-form .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .cab-form .ant-select-selector{
    line-height: 18px !important;
  }

  .payment-container {
    margin: 50px auto;
    padding: 0 50px;
  }

  .cab-search-form {
    /* background-color: red; */
    display: flex;
    justify-content:left;
    align-items: center;
  }

  .btn-outline-primary {
    color: #0071c2;
    border-color: #0071c2;
  }

  .btn-outline-primary:hover {
    background-color: #0071c2;
    color: #fff;
    border-color: #0071c2;
  }

  .semi {
    margin-right: .1rem;
  }

 

  @media screen and (max-width: 600px) {
    .cab-search-form {
      margin-top: 15px;
      flex-direction: column !important;
    }

    .payment-container {
      padding: 0px;
    }

    .payment-container .w-25, .payment-container .time{
      width: 80% !important;
      margin: 5px;
    }

    
    .input-text-pay {
      font-size: .9rem;
    }

  }

  